<a routerLink="header">header</a>
<br>
<a routerLink="footer">footer</a>
<div class="card" style="width:30%; height: 5%;">
    <div class="row">
        <div class="col-sm-4" *ngFor="let row of apiData">
            <div class="card container" style="width: 92%; height: 95%; ">
                <span *ngIf="row.category == 'electronics'">
                    <p>{{row.title}}</p>
                    <img src="{{row.image}} " class="card-img-top">
                </span>
            </div>

        </div>
    </div>
</div>